fastapi
uvicorn[standard]
transformers
torch==1.9.0+cpu  # Or GPU version: torch==1.9.0+cu111
pydantic
requests
tiktoken
protobuf
blobfile
numpy
scipy
pillow
sentencepiece
tqdm
aiohttp

